/* 程式碼高亮的區域保留一些空隙比較美觀 */
div.highlight {
    padding: 10px;
    margin-bottom: 0.2em;
    border-style: solid;
    border-width: 1px;
    font-size: 100%;
}

/* 針對 [tl! remove] 擴充的刪除樣式 */
div.highlight .dll {
  background-color: #702020;
  text-decoration-line: line-through;
  text-decoration-style: solid;   /* 線條樣式: solid, double, dotted, dashed, wavy */
  text-decoration-color: #904040;    /* 線條顏色 */
  text-decoration-thickness: 1px;
}

body {
  background-color: #FFFFFF;
  color: #000000;
  font-family: "微軟正黑體" , "Microsoft JhengHei", "SFMono-Regular", "Roboto Mono", "Noto Sans Mono CJK TC" , "華康黑體";
}

code,pre {
  font-family: "Consolas", "Menlo", "Monaco", "Courier New",monospace,"微軟正黑體" , "Microsoft JhengHei", "SFMono-Regular", "Roboto Mono", "Noto Sans Mono CJK TC" , "華康黑體";
  line-height: 100%;
}