/* 程式碼高亮的區域保留一些空隙比較美觀 */
div.highlight {
    padding: 10px;
    margin-bottom: 0.2em;
    border-style: solid;
    border-width: 1px;
    font-size: 100%;
}

body {
  background-color: #FFFFFF;
  color: #000000;
  font-family: "微軟正黑體" , "Microsoft JhengHei", "SFMono-Regular", "Roboto Mono", "Noto Sans Mono CJK TC" , "華康黑體";
}

code,pre {
  font-family: "Consolas", "Menlo", "Monaco", "Courier New",monospace,"微軟正黑體" , "Microsoft JhengHei", "SFMono-Regular", "Roboto Mono", "Noto Sans Mono CJK TC" , "華康黑體";
  line-height: 100%;
}