<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>封面</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <div class="container">
        <div class="info-block">
            
            <h1 style="margin-bottom: 5em">{{ epub_title }}</h1>

            <p style="margin:0; padding:0">原著：{{ epub_author }}</p>
            <p style="margin:0; padding:0">翻譯：{{ epub_contributor }}</p>
            <p style="margin:0; padding:0">建置日期：{{ epub_build_date }}</p>
        </div>
    </div>

</body>

</html>